@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: 'Madani';
  src: url('/fonts/Madani-Arabic-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html[lang="en"] {
  font-family: 'Madani', sans-serif;
}

html[lang="ar"] {
  font-family: 'Madani', sans-serif !important;
}

/* Initially hide the scrollbar */
html {
  scrollbar-width: none;
  --scroll-behavior: smooth!important;
  scroll-behavior: smooth!important;
  scrollbar-color: transparent transparent;
  overflow-y: auto;
  scrollbar-gutter: auto;
}

/* Show scrollbar when scrolling */
/* html.on-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #aaa transparent;
} */

.slide-in-up {
  transform: translateY(-100%);
}

.slide-out-up {
  transform: translateY(100%);
}

.slide-in-down {
  transform: translateY(100%);
}

.slide-out-down {
  transform: translateY(-100%);
}

/* AboutUs.module.css */
  /* @keyframes fadeInFromBottomLeft {
    from {
      opacity: 0;
      transform: translate3d(-50%, 50%, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes fadeOutFromBottomLeft {
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
    from {
      opacity: 0;
      transform: translate3d(50%, -50%, 0);
    }
  }

  @keyframes fadeInFromTop {
    from {
      opacity: 0;
      transform: translate3d(0, -10%, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes fadeOutFromTop {
    from {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
    to {
      opacity: 1;
      transform: translate3d(0, 10, 0);
    }
  }

  .fadeInFromBottomLeft {
    animation: fadeInFromBottomLeft 1s ease-in-out forwards;
  }

  .fadeInFromTop {
    animation: fadeInFromTop 1s ease-in-out forwards;
  }

  .fadeIn {
    animation: fadeIn 1s ease-in-out forwards;
  }

  .fadeOut {
    animation: fadeOut 1s ease-in-out forwards;
  } */
