@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: 'Madani';
  src: url('/fonts/Madani-Arabic-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html[lang="en"] {
  font-family: 'Montserrat', sans-serif;
}

html[lang="ar"] {
  font-family: 'Madani', sans-serif !important;
}

/* Initially hide the scrollbar */
html {
  scrollbar-width: none;
  --scroll-behavior: smooth!important;
  scroll-behavior: smooth!important;
  scrollbar-color: transparent transparent;
  overflow-y: auto;
  scrollbar-gutter: auto;
}

/* Show scrollbar when scrolling */
/* html.on-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #aaa transparent;
} */

